<div class="card w-100 my-5 shadow">
    <div class="card-body">
        <h1 class="card-title text-center">
            Lista de Usuários
        </h1>
        <button class="btn btn-primary mb-4 float-end" routerLink="/form">
            <fa-icon [icon]="faPlus"></fa-icon>
            Cadastrar Novo
        </button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Idade</th>
                    <th>Profissão</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.job }}</td>
                    <td>
                        <button class="btn btn-primary" [routerLink]="['/form', user.id]">
                            <fa-icon [icon]="faUserEdit"></fa-icon>
                            Editar
                        </button>
                    </td>
                    <td>
                        <button (click)="deleteUser(user.id)" class="btn btn-danger">
                            <fa-icon [icon]="faTrash"></fa-icon>
                            Excluir
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>